@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,600&display=swap');

/* ROOT VARAIBLES */
:root {
    --color-primary: #1C0E59;
    --color-success: #0A0130;
    --color-white: #fff;
    --color-info-dark: #404040;
    --color-info-light: #EEEEEE;
    --color-dark: #777777;
    --color-stroke: #777777;
    --color-light: #80A0FF;
    --color-primary-variant: #333333;
    --color-dark-variant: #555555;
    --color-background: #F7F7F7;

    --card-border-radius: 8px;
    --border-radius-1: 16px;
    --border-radius-2: 4px;
    --border-radius-3: 24px;
    --card-padding: 12px 24px;
    --padding-1: 20px;
    --padding-2: 32px;
    --box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 40px rgba(210, 210, 210, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    position: relative;
    width: 100%;
    background: #e5e7eb;
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
    font-family: Rubik;
}

h1{
    font-size: 36px;
    line-height: 58px;
    font-weight: 500;
}

h2{
    font-size: 32px;
    line-height: 51px;
    font-weight: 500;
}

h3{
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
}

h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

h5,p{
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
}

h6{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

button{
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}
.small-body{
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
}
label{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.sm-label, a{
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}



#menu{
    background: #0E1659;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo{
    padding: 12px 30px;
}

#menu .logo img{
    width: 100px;
    height: 72px;
    text-align: center;
}

#menu .items{
    margin-top: 24px;
}

#menu .items li{
    margin-right: 30px;
    list-style: none;
    padding: 18px 20px;
    transition: 0.3s ease;
}

#menu .items li:last-child{
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom:0px;
    width: 100%;
}

#bottom-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 12px;
    background: white;
    border-radius: 8px;
}

.profile p {
    color: #555555;
}

a#setting-menu {
    background: linear-gradient(156.65deg, #ECECEC 1.2%, #FFFFFF 98.95%);
    border: 1px solid #F7F7F7;
    padding: 8px;
    border-radius: 8px;
}

#menu .items li:hover{
    transition: 0.3s ease;
    margin-right: 30px;
    cursor: pointer;
    margin-right: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px 12px 12px 0px;
}


#menu .items li a{
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
 

#menu .items li:hover a{
    color: #f3f4f6;
}

#menu .items li a{
    text-decoration: none;
    color: white;
    font-weight: 500px;
    transition: 0.3s ease;
}

#interface{
     width: calc(100% - 300px);
     margin-left: 300px;
     position: relative;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0 32px;
    height: 80px;
    box-shadow: inset 0px -1px 0px #EEEEEE;
    width: calc(100% - 300px);
    position: fixed;
    z-index: 2;
}

#interface .left-icon img{
    padding: 8px;
    margin-left: 16px;
    background: linear-gradient(156.65deg, #ECECEC 1.2%, #FFFFFF 98.95%);
    border: 1px solid #F7F7F7;
    box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 40px rgba(210, 210, 210, 0.6);
    border-radius: 8px;
}

.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#close-btn{
    display: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}


 /* body content  */

 .content-section{
    margin: 112px 32px 40px 32px;
 }


 .vertical-tab {
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col-3 {
    width: 28%;
    padding: 40px 32px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 16px;
    position: relative;
}

span.number {
    margin-right: 8px;
    background: #A6BCFF;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
}

/* .side-upper-menu{
    position: relative;
} */

.side-bottom {
    margin-top: 200px;
    padding: 32px 0 0 0;
}

hr.row-line {
    background: #eee;
    border: 1px solid #eee;
    margin: 0 -32px 32px -32px;
}

.side-bottom .side-bottom-items li a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #333333;
    margin: 0;
}
  
.col-9 {
    width: 68%;
}

.col-9-content{
    width: 100%;
    padding: 0 32px 32px 32px;
    background: linear-gradient(156.65deg, #ECECEC 1.2%, #FFFFFF 98.95%);
    border: 1px solid #F7F7F7;
    box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 40px rgba(210, 210, 210, 0.6);
    border-radius: 16px;
}

div#Bank-Details h5 {
    margin: 24px 0 16px 0;
}

.col-3 .sm-label{
    margin-bottom: 16px;
}
  
.btn {
    font-family: 'Rubik';
    width: 100%;
    outline: none;
    cursor: pointer;
    padding: 20px;
    background: linear-gradient(135deg, #EEEEEE 0%, #FFFFFF 45.62%);
    border: 1px solid #F4F4F4;
    box-shadow: -8px -8px 16px #FFFFFF, 8px 8px 16px #EEEEEE;
    border-radius: 16px;
    margin: 16px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: left;
    color: #777777;
}
  
  .btn.active {
    background: #ffffff;
    border: 1px solid #80A0FF;
    color: #80A0FF;
    box-shadow: none;
  }

  .btn.active .number{
    background: #6B89E2;
  }
  
  .item {
    display: none;
    padding: 0.75rem;
    font-size: 1.25rem;
  }
  
  .item.active {
    display: block;
  }


/* form content Section  */

.form-row {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    align-items: end;
}

.col-md-6 {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.radio-content {
    display: flex;
    justify-content: space-between;
}

.male-content {
    width: 48%;
    padding: 12px 20px;
    background: linear-gradient(135deg, #EEEEEE 0%, #FFFFFF 45.62%);
    border: 1px solid #F4F4F4;
    box-shadow: -8px -8px 16px #FFFFFF, 8px 8px 16px #EEEEEE;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
} 
.female-content {
    width: 48%;
    padding: 12px 20px;
    background: linear-gradient(135deg, #EEEEEE 0%, #FFFFFF 45.62%);
    border: 1px solid #F4F4F4;
    box-shadow: -8px -8px 16px #FFFFFF, 8px 8px 16px #EEEEEE;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;;
}

input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked+.female-conten {
    color: #0099CC;
    transition: .3s ease-out;
  }


input#name, 
input#phone,
input#email,
select#designation,
select#department,
select#office,
input#password,
input#aadhaar,
input#personalEmail,
input#mobileNumber,
input#dob,input#pan,
input#address,
input#city,
input#accNumber,
input#bankName,
input#holderName,
select#acctype,
input#iifc{
    padding: 12px 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    color: #999999;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

button.submit {
    cursor: pointer;
    width: 100%;
    padding: 14px 0;
    background: #1C0E59;
    border-radius: 8px;
    color: white;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.upload-file-row {
    margin-bottom: 32px;
}


/*Upload btn*/

.button-wrapper {
    cursor: pointer;
    position: relative;
    width: 150px;
    text-align: center;
}

/* .button-wrapper h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    text-align: initial;
} */


.button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #FFFFFF;
    cursor: pointer;
    color: #80A0FF;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 12px;
    border: 1.5px solid #80a0ff;
    border-radius: 8px;
}



#upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}


.upload-file-row-content {
    cursor: pointer;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(156.65deg, #ECECEC 1.2%, #FFFFFF 98.95%);
    border: 1px solid #F7F7F7;
    box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 40px rgba(210, 210, 210, 0.6);
    border-radius: 8px;
}

.form-group-pan {
    
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 32px 0;
}

.form-group-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 32px 0 20px 0;
}

.form-group-city {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}


.form-row-account {
    gap: 12px;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
}

input#address {
    width: 100%;
}

input#city {
    width: 48%;
}

input#accNumber{
    width: 100%;
}

.form-row-account-switch {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

/* switcherrrrr section   */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #EEEEEE;
    box-shadow: inset 0px 0px 8px #CCCCCC;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    top: 3px;
    background-color: #555555;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:white;
    border: 1px solid #EEEEEE;
    box-shadow: inset 0px 0px 8px #CCCCCC;
    border-radius: 34px;
  }

  input:checked + .slider:before{
    background: #80A0FF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* switcher section ended */












/* wallet recharge popup Section  */


.popup-logout-section {
    display: none;
    width: 480px;
    border-radius: 8px;
    background: #F9F9F9;
    z-index: 9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-logout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    background: #FFFFFF;
    border-radius: 8px 8px 0px 0px;
}

#logout-close-popup-btn{
    cursor: pointer;
}

.popup-logout-content {
    padding: 32px;
}

.popup-logout-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

a#no-btn,a#yes-btn {
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #80A0FF;
    background: #FFFFFF;
    border: 1px solid #80A0FF;
    border-radius: 8px;
    width: 48%;
}
a#yes-btn {
    background: #1C0E59;
    color: #FFFFFF;
}







/* popup contanier Section  */


#popup-container {
    border-radius: 16px;
    display: none;
    position: absolute;
    width: 360px;
    background: var(--color-white);
    top: 75px;
    right: 32px;
    z-index: 9;
    transition: 0.3s ease;
}

.close-popup{
    float: right;
}

#close-popup-btn {
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 90%;
}

#close-popup-btn{
    cursor: pointer;
}

.popup-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.popup-top-header a {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-decoration-line: underline;
    color: #80A0FF;
}

.popup-notification-list {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #F7F7F7;
    gap: 12px;
    margin: 2px 0;
}

.popup-notification-list:hover{
    background: white;
}

p.popup-notification-date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #999999;
    padding-top: 4px;
}

.popuptabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.popuptabs input[type="radio"] {
    display: none;
}
.popuptabs label {
    cursor: pointer;
    padding: 12px 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #404040;
}

.popuptabs .popup-tab-content {
    width: 100%;
    background: #fff;
    order: 1;
    display: none;
}

.popuptabs input[type='radio']:checked + label + .popup-tab-content {
    display: block;
}

.popuptabs input[type="radio"]:checked + label {
    background: #fff;
    border-bottom: 2px solid #372582;
}






@media (max-width: 769px){
    #menu{
        width: 250px;
        position: fixed;
        left: -250px;
        transition: 0.3s ease;
    }

    #menu.active{
        left: 0;
        transition: 0.3s ease;
    }

    #menu.active~ #interface{
        width: calc(100% - 250px) !important;
        margin-left: 250px;
        transition: 0.3s ease;
    }

    #close-btn{
        display: initial;
    }

    #interface{
        width: 100%;
        margin-left: 0;
        display: inline-block;
        transition: 0.3s ease;
    }

    #interface .navigation{
        width: 100%;
    }


}